@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 23px 19px;
    padding: 14px 14px;
    font-family: 'Baloo Da 2', cursive;
}
h1{
    color: black;
    text-align: center;
}

.row{
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.box{
    margin: 20px;
    width: 200px;
    height: auto;
    border: 2px solid black;
    background-color: rgb(170 164 164);
    flex: 1 1 200px;
}

.heading{
    margin-left: 70%;
    border: 2px solid black

}

h4{
    padding-right: 30%;
    text-align: right;
}

#chicken{
    background-color: pink;
}

#beef{
    color: white;
    background-color: red;
}

#sushi{
    background-color: yellow;
}

